<h1>旅すた</h1>
<% if user_signed_in? %>
  <%= link_to "ろぐあうと", destroy_user_session_path, method: :delete%>
  <%= link_to "とうこうする", new_photo_path%>
  <%= current_user.nickname%>
<% else %>
  <%= link_to "とうろくぅ！",  new_user_registration_path%>
  <%= link_to "さいんいん", new_user_session_path%>
<% end %>
<div class="contents row">
  <% @photos.each do |photo| %>
    <div class="content_post" style="background-image:">
      <p><%= photo.title %></p>
        <%= image_tag photo.image, class: "photo-img"%>
        <div>
          <%= photo.description %>
          <%= link_to "へんしゅう", edit_photo_path(photo.id), method: :get%>
        </div>
        
    </div>
  <% end %>
</div>